body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ul {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

h3 {
	text-align: center;
}

div.ui.container { 
	
}

div.ui.divided.middle.aligned.list {
	float: right;
}

div.react-calendar {
	margin: 1%;
	width: 60%;
	float: left;
}



